---
layout: default2
---
{% include {{ site.url }}/highlight.html %}
<div id="python-tutorial-1" class="section level2">
<h2>Python tutorial 1</h2>
<div id="tools-needed" class="section level3">
{% include {{ site.url }}/legend.html %}
<h3>Tools needed</h3>
<ul>
<li>Python 2</li>
<li>Biopython</li>
<li>Bash</li>
</ul>
</div>
<div id="reverse-complementing-a-sequence" class="section level3">
<h3>Reverse complementing a sequence</h3>
<p>Here is a simple script to reverse complement a sequence using Biopython. I am typing in the sequence for simplicity.</p>
<pre class="python"><code>from Bio.Seq import Seq #load the module
testseq = Seq(&quot;ATGCATGC&quot;) #input sequence
newseq = testseq.reverse_complement() #revcom
print newseq #print the result</code></pre>
<pre class="nohighlight"><code>GCATGCAT</code></pre>
<p>We can make the script more helpful by loading the sequence from the file and outputting the sequence into another file. We will use the module SeqIO, and because the sequence objects will be created by SeqIO, there is no need for Seq module anymore.</p>
<pre class="python"><code>from Bio import SeqIO
fname = &quot;test.fas&quot; #this is our input file name
fhandle = open(fname, &quot;rU&quot;) #open file for reading
seqs = SeqIO.parse(fhandle, &quot;fasta&quot;) #parse the sequences
fnew = open(fname+&quot;.revcom.fas&quot;, &quot;w&quot;) #open file with modified file name for output
for seq in seqs: #convert sequences within a for loop and write them in the output file
    seq.seq = seq.seq.reverse_complement()
    SeqIO.write(seq, fnew, &quot;fasta&quot;)
fnew.close() #close the output file
fhandle.close() #close the input file</code></pre>
<p>You could shorten the script by using <code>with</code> or even giving the <code>parse</code> and <code>write</code> commands file names directly so the biopython is taking care of file opening and closing. For writing however we need to make sure each write call doesn’t erase the previous output:</p>
<pre class="python"><code>from Bio import SeqIO
fname = &quot;test.fas&quot; #this is our input file name
seqs = SeqIO.parse(fname, &quot;fasta&quot;) #parse the sequences
with open(fname+&quot;.revcom.fas&quot;, &quot;w&quot;) as output_handle: #convert sequences within a for loop and write them in the output file
  for seq in seqs:
    seq.seq = seq.seq.reverse_complement()
    SeqIO.write(seq, output_handle, &quot;fasta&quot;)</code></pre>
<p>It could be even better to be able to supply the input file name as a command line parameter, so the script is more generic and can be integrated into other workflows. For this I use the module sys to parse the command line arguments, script file name is the first argument (positional index 0), input file name thus will have index 1.</p>
<pre class="python"><code>from Bio import SeqIO
import sys
fname = sys.argv[1] #this is our input file as a command line parameter
seqs = SeqIO.parse(fname, &quot;fasta&quot;) #parse the sequences
with open(fname+&quot;.revcom.fas&quot;, &quot;w&quot;) as output_handle: #convert sequences within a for loop and write them in the output file
  for seq in seqs:
    seq.seq = seq.seq.reverse_complement()
    SeqIO.write(seq, output_handle, &quot;fasta&quot;)</code></pre>
<p>If you try to run it interactively you will get an error message. Instead, I save the above shown script to a file <code>script1.py</code> and run in terminal like so</p>
<pre class="bash"><code>python script1.py test.fas</code></pre>
<p>Sometimes it is beneficial to output data to standard output such that you have a greater flexibility. We will need to modify our script as follows and save it to our <code>script1.py</code> file:</p>
<pre class="python"><code>from Bio import SeqIO
import sys
fname = sys.argv[1] #this is our input file as a command line parameter
seqs = SeqIO.parse(fname, &quot;fasta&quot;) #parse the sequences
for seq in seqs:
    seq.seq = seq.seq.reverse_complement()
    SeqIO.write(seq, sys.stdout, &quot;fasta&quot;)</code></pre>
<p>Here I indicate sys.stdout as a handle meaning it will be output to console. In this situation I do not need <code>with</code> statement. Then I run the script as before and see the output:</p>
<pre class="bash"><code>python script1.py test.fas</code></pre>
<pre class="nohighlight"><code>&gt;t1
aacaacattaaataactgatcatttccaatagttgacaggatttcttaattcaatacgaa
&gt;t2
acaacattaaataactgatcatttccaatagttgatccaggatttccgaataattcatct
&gt;t3
aatgcgtgagatgttacaataacgttaaatagttggtcatttccaatagttgatccaggg
&gt;t4
gatgttacaataacgttaaatagttggtcatttccaatagttgatccagggttttcatct
&gt;t5
tagttgatcattcccaatagttgttccaggatttcttaattcaattcggataattcatct
&gt;t6
ttactataaaaaaaattattgtaaatgcgtgtgatgtaacaacaacattaaatagttgat
&gt;t7
caattacattatataattgatcatttccaatggttgatccactattcgaatgattcatct
&gt;t8
gatgttacaattacattaaataattggtcactcccaatagttgatcctggatttccatct
&gt;t9
acaattacattgaataactgatcatttctaagggttgatcccggatttcttaattcttct
&gt;t10
tgtgctgttacaattacattgtaaatttgatcatttccgataaatgggcctaattcatct
&gt;t11
catgtgctgttacaattacattgtaaatttgatcatttccgattaattcaatacgaataa
&gt;t12
aaatttgatcatttccgataaatgggcctgggtgtcttaattcaatacgaataatcatct
&gt;t13
cattgtaaatttgatcatttccgataaatgggcctgggtgtcttaattcaatacgaataa
&gt;t14
ttgtagatttgatcatttctaataattggtcctggtcttcttaattcaattcgaataatt</code></pre>
<p>To actually record the output to the file, I do the following:</p>
<pre class="bash"><code>python script1.py test.fas &gt; test.fas.revcom.fas</code></pre>
<p>Finally, if I have multiple files in the folder, I could run the script in a shell for loop. I am masking the files by extension instead of just putting asterisk, so that other non target files in my folder do not get processed:</p>
<pre class="bash"><code>for f in *.fas; do python script1.py $f &gt; $f.revcom.fas; done</code></pre>
<p>Done</p>
<p><em>Last edited on 25 February, 2019</em></p>
</div>
</div>

