/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block;
  overflow-x: auto;
  /*padding: 0.5em;*/
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
/* BASH scheme : Agate by Taufik Nurrohman <https://github.com/tovic> */
pre.bash .hljs {
  display: block;
  overflow-x: auto;
  /*padding: 0.5em;*/
  background: #333;
  color: white;
}

pre.bash .hljs-name,
pre.bash .hljs-strong {
  font-weight: bold;
}

pre.bash .hljs-code,
pre.bash .hljs-emphasis {
  font-style: italic;
}

pre.bash .hljs-tag {
  color: #62c8f3;
}

pre.bash .hljs-variable,
pre.bash .hljs-template-variable,
pre.bash .hljs-selector-id,
pre.bash .hljs-selector-class {
  color: #ade5fc;
}

pre.bash .hljs-string,
pre.bash .hljs-bullet {
  color: #a2fca2;
}

pre.bash .hljs-type,
pre.bash .hljs-title,
pre.bash .hljs-section,
pre.bash .hljs-attribute,
pre.bash .hljs-quote,
pre.bash .hljs-built_in,
pre.bash .hljs-builtin-name {
  color: #ffa;
}

pre.bash .hljs-number,
pre.bash .hljs-symbol,
pre.bash .hljs-bullet {
  color: #d36363;
}

pre.bash .hljs-keyword,
pre.bash .hljs-selector-tag,
pre.bash .hljs-literal {
  color: #fcc28c;
}

pre.bash .hljs-comment,
pre.bash .hljs-deletion,
pre.bash .hljs-code {
  color: #888;
}

pre.bash .hljs-regexp,
pre.bash .hljs-link {
  color: #c6b4f0;
}

pre.bash .hljs-meta {
  color: #fc9b9b;
}

pre.bash .hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}

pre.bash .hljs-addition {
  background-color: #a2fca2;
  color: #333;
}

pre.bash .hljs a {
  color: inherit;
}

pre.bash .hljs a:focus,
pre.bash .hljs a:hover {
  color: inherit;
  text-decoration: underline;
}


/* nohighlight */

pre.nohighlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fffde9;
}

/* override dinky scheme */

pre.r,
pre.python
{
  display: block;
  padding: 0.5em;
  background: #f8f8f8;
}
pre.bash {
  display: block;
  padding: 0.5em;
  background: #333;
}

